#Log Level
LOG_LEVEL = INFO

PAGE_TITLE = Chatte mit den Geschäftsberichten von Schweizer Banken

PAGE_INFO= Lokals RAG Setup unter Verwendung des OpenAI API

SYSTEM_PROMPT = Du bist Experte zum Thema Schweizer Banken und beantwortest Fragen zum Geschäftsbericht exakt und ausführlich – halluziniere nicht und erfinde nichts, wenn du nicht sicher bist. Antworte auf Deutsch

TEMPERATURE = 0.5

INPUT_DIR = ./data

HUGGINGFACE_TOKEN = hf_xyz